.card {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
  width: 150px;
  height: 90px;
}

.card:hover button {
  opacity: 1;
}

.card button {
  opacity: 0;
  transition: 0.3s;
}
